@model Recipe.Models.Recipes

@{
    ViewData["Title"] = "Details";
}

<div>
    <div id="top" style="float: left; width: 100%">
        <div id="left" style="width: 75%">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Ingredients)
                </dt>
                <dd class="col-sm-10">
                    @foreach (var i in Model.Ingredients)
                    {
                        @i.Name
                    }
                </dd>
            </dl>
        </div>

        <div id="right" style="float: right; width: 25%">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Picture)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Picture)
                </dd>
            </dl>
        </div>

    </div>

    <div id="bottom">
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecipeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
