@model Recipe.Models.Recipes

@{
    ViewData["Title"] = "Details";
}

<div>
    <div id="top" style="float: left; width: 100%">
        <div id="left" style="width: 75%">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Ingredients)
                </dt>
                <dd class="col-sm-10">
                    <ul>
                        @foreach (var i in Model.Ingredients)
                        {
                            <li>@i.Name</li>
                        }
                    </ul>
                </dd>
            </dl>
        </div>

        <div id="right" style="float: right; vertical-align: top; width: 25%">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Picture)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Picture)
                </dd>
            </dl>
        </div>

    </div>

    <div id="bottom">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Steps)
            </dt>
            <dd class="col-sm-10">
                @{
                    List<string> recipeSteps = new List<string>(Model.Steps.Count);
                    @foreach (var s in Model.Steps)
                    {
                        recipeSteps.Add(s.Step);
                    }
                }
                <ol>
                    @for (int i = 1; i < Model.Steps.Count; i++)
                    {
                        <li>@recipeSteps[i]</li>
                    }
                </ol>
            </dd>
        </dl>
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecipeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
